<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waypoint_WIP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <header class="header">
        <div class="header-inner">
            <h1 class="site-title">WAYPOINT</h1>
            <div class="header-actions"></div>
        </div>
    </header>

    <main class="page">
        <div class="card">
            <label class="input-label">Start Location</label>
            <input type="text" id="startInput" class="input-box" placeholder="Enter Location Here">


            <button id="reverseBtn" class="reverse-btn">
                <img src="{{url_for('static', filename='reverse.png')}}" alt="reverse" class="reverse-icon">
            </button>

            <label class="input-label">End Destination</label>
            <input type="text" id="endInput" class="input-box" placeholder="Enter Location Here">

            <button id="routeBtn" class="submit-btn">Get Fastest Route</button>

            <div id="output" class="output-box"></div>
        </div>
    </main>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>